<%= javascript_include_tag "mpog-validations" %>
<table>
  <tr>
    <th colspan='2'><%= _('Software Information')%></th>
  </tr>

  <%= display_mpog_field(_('Name:'), profile, :name, true) %>
  <%= content_tag('tr', content_tag('td', _("Adherent to e_mag:")) + content_tag('td', profile.software_info.e_mag ? _("Yes") : _("No"))) %>
  <%= content_tag('tr', content_tag('td', _("Adherent to icp_brasil:")) + content_tag('td', profile.software_info.icp_brasil ? _("Yes") : _("No"))) %>
  <%= content_tag('tr', content_tag('td', _("Adherent to e_ping:")) + content_tag('td', profile.software_info.e_ping ? _("Yes") : _("No"))) %>
  <%= content_tag('tr', content_tag('td', _("Adherent to e_arq:")) + content_tag('td', profile.software_info.e_arq ? _("Yes") : _("No"))) %>
  <%= content_tag('tr', content_tag('td', _("Internacionalizable:")) + content_tag('td', profile.software_info.intern ? _("Yes") : _("No"))) %>
  <%= display_mpog_field(_('Operating Platform:'), profile.software_info, :operating_platform, true) %>
  <%= display_mpog_field(_('Demonstration URL:'), profile.software_info, :demonstration_url, true) %>
  <%= display_mpog_field(_('Acronym:'), profile.software_info, :acronym, true) %>
  <%= display_mpog_field(_('Objectives:'), profile.software_info, :objectives, true) %>
  <%= display_mpog_field(_('Features:'), profile.software_info, :features, true) %>

  <%= content_tag('tr', content_tag('td', _("License"))) %>
  <%= display_mpog_field(_('Version:'), profile.software_info.license_info, :version, true) %>
  <%= display_mpog_field(_('Link:'), profile.software_info.license_info, :link, true) %>
</table>

<table>
  <tr>
    <td><a href="#" class="libraries-button-show button with-text icon-add"><%= _('Show Libraries') %></a>
      <a href="#" class="libraries-button-hide button with-text icon-remove"><%= _('Hide Libraries') %></a>
    </td>
  </tr>

  <tr>
    <td>
      <table class = "libraries-info dynamic-table">
        <%= content_tag('tr', content_tag('td', _("Libraries")) + content_tag('td', '')) %>
        <% profile.software_info.libraries.each do |library| %>
          <%= display_mpog_field(_('Name:'), library, :name, true) %>
          <%= display_mpog_field(_('Version:'), library, :version, true) %>
          <%= display_mpog_field(_('License:'), library, :license, true) %>
        <% end %>
      </table>
    </td>
  </tr>

  <tr>
    <td><a href="#" class="database-button-show button with-text icon-add"><%= _('Show Database') %></a>
      <a href="#" class="database-button-hide button with-text icon-remove"><%= _('Hide Database') %></a>
    </td>
  </tr>

  <tr>
    <td>
      <table class = "database-info dynamic-table">
        <%= content_tag('tr', content_tag('td', _("Program Database")) + content_tag('td', '')) %>
        <% profile.software_info.software_databases.each do |database| %>
          <%= display_mpog_field(_('Name:'), DatabaseDescription.find(database.database_description_id), :name, true) %>
          <%= display_mpog_field(_('Version:'), database, :version, true) %>
          <%= display_mpog_field(_('Operating System:'), database, :operating_system, true) %>
        <% end %>
      </table>
    </td>
  </tr>

  <tr>
    <td><a href="#" class="language-button-show button with-text icon-add"><%= _('Show Languages') %></a>
      <a href="#" class="language-button-hide button with-text icon-remove"><%= _('Hide Languages') %></a>
    </td>
  </tr>

  <tr> 
    <td>
      <table class = "language-info dynamic-table">
       <%= content_tag('tr', content_tag('td', _("Programming Language")) + content_tag('td', '')) %>
       <% profile.software_info.software_languages.each do |language| %>
         <%= display_mpog_field(_('Name:'), language.programming_language , :name, true) %>
         <%= display_mpog_field(_('Version:'), language, :version, true) %>
         <%= display_mpog_field(_('Operating System:'), language, :operating_system, true) %>
       <% end %>
     </table>
   </td>
 </tr>

  <tr>
    <td><a href="#" class="operating-system-button-show button with-text icon-add"><%= _('Show Operating Systems') %></a>
      <a href="#" class="operating-system-button-hide button with-text icon-remove"><%= _('Hide Operating Systems') %></a>
    </td>
  </tr>

  <tr> 
    <td>
      <table class = "operating-system-info dynamic-table">
       <%= content_tag('tr', content_tag('td', _("Operating System")) + content_tag('td', '')) %>
       <% profile.software_info.operating_systems.each do |operating_system| %>
         <%= display_mpog_field(_('Name:'), operating_system.operating_system_name , :name, true) %>
         <%= display_mpog_field(_('Version:'), operating_system, :version, true) %>
       <% end %>
     </table>
   </td>
 </tr>
 </tr>
</table>

<% if profile.admins.include? current_person %>
  <%= label_tag _("Deactivate Software: ") %>
  <%= button_without_text :'deactivate-user', _('Deactivate software'), {:controller => "mpog_software_plugin", :action => 'deactivate', :id => profile.software_info.id, :q => @q, :from_profile => true}, :filter => @filter, :confirm => _("Do you want to deactivate this software?") %>
<% end %>

