<div id='incomplete_registration'>
  <div id="incomplete_percentage">
    <%= _("Incomplete registration percentage")+":#{@percentege}%" %>
  </div>

  <div id="profile_empty_fields">
   <span><%= _("List with fields to be filled")+":" %></span>
    <ul>
      <% @profile_empty_fields.each do |field|%>
      <li>
        <%= field %>
      </li>
      <% end %>
    </ul>
  </div>

  <div id="profile_links">
    <table>
      <tr>
        <td>
          <%= @profile_edit_link %>
        </td>
        <td>
          <a href="#"><%= _("Hide this message") %></a>
        </td>
      </tr>
    </table>
  </div>
</div>
