<h2><%= _('Software Information') %></h2>

<h3> <%= _("Finality") %> </h3>
<div id="finality">
  <%= text_area_tag "software[finality]", @profile.software_info.finality, :placeholder => _("It is a software of..."), :cols => 40, :rows => 5, :maxlength => 140%>
</div>

<h3> <%= _("Licenses") %> </h3>
<div id='licenses'>
  <%= select_tag("license[license_infos_id]", options_for_select(LicenseHelper.getListLicenses.collect{|l| [l.version, l.id]}, :selected => @profile.software_info.license_info.id), :onchange => "get_license_link('version')") %>
  <br />

  <h4> <%= _("License link") %> </h4>
  <% LicenseHelper.getListLicenses.each do | license |  %>
    <input type="hidden" id = "version_<%=license.id %>" value = "<%=license.link%>">
  <% end %>

  <a id = "version_link" href="<%= @profile.software_info.license_info.link %>" target="BLANK"> <%= @profile.software_info.license_info.link %> </a>
</div>

<div class="formfieldline formfield type-text">
  <%= label_tag "repository_url", _("Link to Repository: ") %>
  <%= text_field_tag("software[repository_link]", @profile.software_info.repository_link) %>
</div>

