<h1><%= @profile.software_info.name + _(' Information') %></h1>

<h3> <%= _("Acronym") %> </h3>
<div id="acronym">
  <%= text_field_tag("software[acronym]", @profile.software_info.acronym, :maxlength=>"10") %>
</div>

<h3> <%= _("Finality") %> </h3>
<div id="finality">
  <%= text_area_tag "software[finality]", @profile.software_info.finality, :placeholder => _("It is a software of..."), :cols => 40, :rows => 5, :maxlength => 140%>
</div>

<h3> <%= _("Licenses") %> </h3>
<div id='licenses'>
  <%= select_tag("license[license_infos_id]", options_for_select(LicenseHelper.getListLicenses.collect{|l| [l.version, l.id]}, :selected => @profile.software_info.license_info_id), :id => "license_info_version") %>
  <br />

  <h4> <%= _("License link") %> </h4>
  <% LicenseHelper.getListLicenses.each do | license |  %>
    <input type="hidden" id = "version_<%=license.id %>" value = "<%=license.link%>">
  <% end %>
  <a id = "version_link" href="<%= @profile.software_info.license_info.link %>" target="BLANK"> <%= @profile.software_info.license_info.link %> </a>
  <div id="another_license" class="hide-field">
    <%= labelled_text_field "Licence version", "license[version]", "#{@another_license_version}", :id=>"licence_version" %>
    <br />
    <%= labelled_text_field "Licence link", "license[link]", "#{@another_license_link}", :id=>"licence_link" %>
  </div>
</div>

<h3> <%= _("Link to Repository") %> </h3>
<div id='repository_link'>
  <%= text_field_tag("software[repository_link]", @profile.software_info.repository_link, :class => "improve_input_size") %>
</div>

