<h1><%= _('Edit  software') %></h1>

<div class="formfield type-text">
  <%= label_tag(:acronym ,_("Acronym"), :class=>"formlabel") %>
  <%= text_field_tag("software[acronym]", @software_info.acronym, :maxlength=>"10") %>
</div>

<div class="formfieldline">
  <%= label_tag _("Adherent to e-PING ?") %>

  <%= label_tag "e_ping_true", "Yes" %>
  <%= radio_button_tag("software[e_ping]", true, @software_info.e_ping)%>
  <%= label_tag "e_ping_false", "No"%>
  <%= radio_button_tag("software[e_ping]", false, !@software_info.e_ping)%>
</div>

<div class="formfieldline">
  <%= label_tag _("Adherent to e-MAG ?") %>

  <%= label_tag "e_mag_true", "Yes"%>
  <%= radio_button_tag("software[e_mag]", true, @software_info.e_mag)%>
  <%= label_tag "e_mag_false", "No"%>
  <%= radio_button_tag("software[e_mag]", false, !@software_info.e_mag)%>
</div>

<div class="formfieldline">
  <%= label_tag _("Adherent to ICP-Brasil ?") %>

  <%= label_tag "icp_brasil_true", "Yes"%>
  <%= radio_button_tag("software[icp_brasil]", true, @software_info.icp_brasil)%>
  <%= label_tag "icp_brasil_false", "No"%>
  <%= radio_button_tag("software[icp_brasil]", false, !@software_info.icp_brasil)%>
</div>

<div class="formfieldline">
  <%= label_tag _("Adherent to e-ARQ ?") %>

  <%= label_tag "e_arq_true", "Yes"%>
  <%= radio_button_tag("software[e_arq]", true, @software_info.e_arq)%>
  <%= label_tag "e_arq_false", "No"%>
  <%= radio_button_tag("software[e_arq]", false, !@software_info.e_arq)%>
</div>

<div class="formfieldline">
  <%= label_tag _("Internacionalizable ?") %>

  <%= label_tag "intern_true", "Yes" %>
  <%= radio_button_tag("software[intern]", true, @software_info.intern)%>
  <%= label_tag "intern_false", "No"%>
  <%= radio_button_tag("software[intern]", false, !@software_info.intern)%>
</div>

<div class="formfieldline">
  <%= label_tag "operating_platform", _("Operating Platform: ") %> <br />
  <%= text_area_tag "software[operating_platform]", @software_info.operating_platform, :cols => 40, :rows => 5%>
</div>

<div class="formfieldline">
  <%= label_tag "features", _("Features: ")%><br />
  <%= text_area_tag "software[features]", @software_info.features, :maxlength=>"4000", :cols => 40, :rows => 5%>
</div>

<div id='libraries_fields'>
  <h4> <%= _("Libraries") %> </h4>

  <%= render :partial => 'library_fields', :locals => {:object_name => 'community', :profile => @community, :libraries => @list_libraries } %>
</div>
<br />

<div id='operating_system_fields'>
  <h4> <%= _("Operating Systems") %> </h4>

  <%= render :partial => 'operating_system_fields', :locals => {:object_name => 'community', :profile => @community, :operating_systems_fields => @list_operating_systems} %>
</div>
<br />

<br />
<div id='programming_languages_fields'>
  <h4> <%= _("Programming languages") %> </h4>

  <%= render :partial => 'language_fields', :locals => { :object_name => 'community', :profile => @community, :languages => @list_languages } %>
</div>

<br />
<div id='database_fields'>
  <h4> <%= _("Databases") %> </h4>

  <%= render :partial => 'database_fields', :locals => {:object_name => 'community', :profile => @community, :database => @list_databases } %>
</div>

<div id = "demonstration_url">
    <%= label_tag(:demonstration_url ,_("Demonstration url:"), :class=>"formlabel") %>
    <%= text_field_tag("software[demonstration_url]", @software_info.demonstration_url) %>
</div>
