<div class="comments-software-extra-fields">
  <span>
    <%= _("Aditional informations") %>
  </span>

  <div class="comments-software-people-benefited">
    <%= label_tag "comments_people_benefited", _("Number of Beneficiaries")%>
    <%= text_field_tag "comments[people_benefited]", "" %>
  </div>
  <div class="comments-software-saved-values">
    <%= label_tag "comments_saved_value", _("Saved resources")%>
    <%= text_field_tag "comments[saved_value]", ""%>
  </div>
</div>
