<div class="formfieldline">
  <%= label_tag "user[secondary_email]", _('Secondary e-mail')+":", :class=>"formlabel" %>

  <div class="formfield type-text">
    <%= text_field_tag "user[secondary_email]", context.profile.user.secondary_email %>
  </div>
</div>

<div class="formfieldline" id="select_institution">
  <%= label_tag "user[institution_ids]", _('Institutions'), :class=>"formlabel" %>

  <div class="institution_container">
    <%= text_field_tag(:institution, "", :id=>"input_institution") %>

    <% context.profile.user.institutions.each do |institution| %>
      <%= hidden_field_tag("user[institution_ids][]", institution.id, :class => 'user_institutions') %>
    <% end %>
  </div>

  <%= content_tag(:div, _("The searched institution does not exist"), :id=>"institution_empty_ajax_message", :class=>"errorExplanation hide-field") %>
  <%= link_to(_("Add new institution"), "#", :class=>'button with-text icon-add', :id => 'add_new_institution') %>

  <%= hidden_field_tag("user[institution_ids][]", "", :class => 'user_institutions') %>
  <%= hidden_field_tag("institution_selected", "") %>

  <ul class="institutions_added">
    <% context.profile.user.institutions.each do |institution| %>
      <li data-institution="<%= institution.id %>">
        <%= institution.name %>
        <%= link_to("", "#", :class => "button without-text icon-remove remove-institution") %>
      </li>
    <% end %>
  </ul>
</div>
