<div class="formfieldline">
  <%= label_tag "user[secondary_email]", _('Secondary e-mail')+":", :class=>"formlabel" %>

  <div class="formfield type-text">
    <%= text_field_tag "user[secondary_email]", context.profile.user.secondary_email %>
  </div>
</div>

<div class="formfieldline">
  <%= label_tag 'profile_data[area_interest]', _('Areas of Interest'), :class=>"formlabel" %>

  <div class="formfield type-text">
    <%= text_field_tag 'profile_data[area_interest]', context.profile.area_interest %>
  </div>
</div>

<div class="formfieldline" id="select_institution">
  <%= label_tag "user[institution_id]", _('Institution'), :class=>"formlabel" %>

  <div class="formfield type-text">
    <%= select_tag "user[institution_id]", options_for_select(Institution.all.map {|i| [i.name, i.id]}, context.profile.institution_id) %>
  </div>
<script type="text/javascript">
jQuery(document).ready(function(){
  var select = jQuery("#select_institution select");
  select.append("<option value='-1'><%=_('Other')%></option>");
});
</script>
</div>
