<h2><%= _('Software Information') %></h2>

<div class="formfieldline formfield type-text">
  <%= labelled_text_field(_("Acronym"), 'software_info[acronym]', context.profile.software_info.acronym) %>
</div>

<div class="formfieldline">
  <%= _("Adherent to e-PING?") %>
  <%= labelled_radio_button(_('Yes'), 'software_info[e_ping]', 'true', context.profile.software_info.e_ping)%>
  <%= labelled_radio_button(_('No'), 'software_info[e_ping]', 'false', !context.profile.software_info.e_ping)%>
</div>
<div class="formfieldline">
  <%= _("Adherent to e-MAG?") %>
  <%= labelled_radio_button(_('Yes'), 'software_info[e_mag]', 'true', context.profile.software_info.e_mag)%>
  <%= labelled_radio_button(_('No'), 'software_info[e_mag]', 'false', !context.profile.software_info.e_mag)%>
</div>
<div class="formfieldline">
  <%= _("Adherent to ICP-Brasil?") %>
  <%= labelled_radio_button(_('Yes'), 'software_info[icp_brasil]', 'true', context.profile.software_info.icp_brasil)%>
  <%= labelled_radio_button(_('No'), 'software_info[icp_brasil]', 'false', !context.profile.software_info.icp_brasil)%>
</div>
<div class="formfieldline">
  <%= _("Adherent to e-ARQ?") %>
  <%= labelled_radio_button(_('Yes'), 'software_info[e_arq]', 'true', context.profile.software_info.e_arq)%>
  <%= labelled_radio_button(_('No'), 'software_info[e_arq]', 'false', !context.profile.software_info.e_arq)%>
</div>
<div class="formfieldline">
  <%= _("Internacionalizable") %>
  <%= labelled_radio_button(_('Yes'), 'software_info[intern]', 'true', context.profile.software_info.intern)%>
  <%= labelled_radio_button(_('No'), 'software_info[intern]', 'false', !context.profile.software_info.intern)%>
</div>

<div class="formfieldline">
  <%= label_tag('software_info[operating_platform]', 'Operating Platform:') %>
  <br />
  <%= text_area_tag('software_info[operating_platform]', context.profile.software_info.operating_platform, :size => '40x20', :class=>"expand-field") %>
</div>

<div class="formfieldline">
  <%= label_tag('software_info[objectives]', 'Objectives:') %>
  <br />
  <%= text_area_tag('software_info[objectives]', context.profile.software_info.objectives, :size => '40x20', :class=>"expand-field") %>
</div>

<div class="formfieldline">
  <%= label_tag('software_info[features]', 'Features:') %>
  <br />
  <%= text_area_tag('software_info[features]', context.profile.software_info.features, :size => '40x20', :class=>"expand-field") %>
</div>

<div class="formfieldline formfield type-text">
  <%= labelled_text_field('Demonstration URL', 'software_info[demonstration_url]', context.profile.software_info.demonstration_url) %>
</div>

<h3> <%= _("Licenses") %> </h3>
<div id='licenses'>
  <%= select_tag(:version, options_for_select(LicenseHelper.getListLicenses.collect{|l| [l.version, l.id]}, :selected => context.profile.software_info.license_info.id), :onchange => "get_license_link('version')") %>
  <br />

  <h4> <%= _("License link") %> </h4>
  <% LicenseHelper.getListLicenses.each do | license |  %>
    <input type="hidden" id = "version_<%=license.id %>" value = "<%=license.link%>">
  <% end %>

  <a id = "version_link" href="<%= context.profile.software_info.license_info.link %>" target="BLANK"> <%= context.profile.software_info.license_info.link %> </a>
</div>

<h3> <%= _("Libraries") %> </h3>
<div id='libraries'>
  <% LibraryHelper.library_as_tables(context.profile.software_info.libraries).each do |tab| %>
      <%= tab.call %>
  <%end%>
</div>

<div id='table_structure_libraries' style="display:none"><%= LibraryHelper.add_dynamic_table %></div>
<%= link_to _('New Library'), "#", :class=>"button icon-add with-text new-dynamic-table dynamic-libraries"%>

<h3> <%= _("Programming Languages") %> </h3>
<div id='languages'>
  <% SoftwareLanguageHelper.language_as_tables(context.profile.software_info.software_languages).each do |tab| %>
      <%= tab.call %>
  <%end%>
</div>

<div id='table_structure_languages' style="display:none"><%= SoftwareLanguageHelper.add_dynamic_table %></div>
<%= link_to _('New language'), "#", :class=>"button icon-add with-text new-dynamic-table dynamic-languages"%>

<h3> <%= _("Databases") %> </h3>
<div id='databases'>
  <% DatabaseHelper.database_as_tables(context.profile.software_info.software_databases).each do |tab| %>
    <%= tab.call %>
  <%end%>
</div>

<div id='table_structure_databases' style="display:none"><%= DatabaseHelper.add_dynamic_table %></div>
<%= link_to _('New Database'), "#", :class=>"button icon-add with-text new-dynamic-table dynamic-databases"%>

<div id="software_categories_fields">
<h4> <%= _("Software Categories") %> </h4>

    <%= labelled_check_box _("Administration"), "software_categories[administration]", "1", context.profile.software_info.software_categories.administration %> <br />

    <%= labelled_check_box _("Agriculture"), "software_categories[agriculture]", "1", context.profile.software_info.software_categories.agriculture %> <br />

    <%= labelled_check_box _("Business_and Services"), "software_categories[business_and_services]", "1", context.profile.software_info.software_categories.business_and_services %> <br />

    <%= labelled_check_box  _("Communication"), "software_categories[communication]", "1", context.profile.software_info.software_categories.communication %> <br />

    <%= labelled_check_box _("Culture"), "software_categories[culture]", "1", context.profile.software_info.software_categories.culture %> <br />

    <%= labelled_check_box _("National Defense"), "software_categories[national_defense]", "1", context.profile.software_info.software_categories.national_defense %> <br />

    <%= labelled_check_box _("Economy and Finances"), "software_categories[economy_and_finances]", "1", context.profile.software_info.software_categories.economy_and_finances %> <br />

    <%= labelled_check_box _("Education"), "software_categories[education]", "1", context.profile.software_info.software_categories.education %> <br />

    <%= labelled_check_box _("Energy"), "software_categories[energy]", "1", context.profile.software_info.software_categories.energy %> <br />

    <%= labelled_check_box _("Sports"), "software_categories[sports]", "1", context.profile.software_info.software_categories.sports %> <br />

    <%= labelled_check_box _("Habitation"), "software_categories[habitation]", "1", context.profile.software_info.software_categories.habitation %> <br />

    <%= labelled_check_box  _("Industry"), "software_categories[industry]", "1", context.profile.software_info.software_categories.industry %> <br />

    <%= labelled_check_box _("Environment"), "software_categories[environment]", "1", context.profile.software_info.software_categories.environment %> <br />

    <%= labelled_check_box _("Research and Development"), "software_categories[research_and_development]", "1", context.profile.software_info.software_categories.research_and_development %> <br />

    <%= labelled_check_box _("Social Security"), "software_categories[social_security]", "1", context.profile.software_info.software_categories.social_security %> <br />

    <%= labelled_check_box _("Social Protection"), "software_categories[social_protection]", "1", context.profile.software_info.software_categories.social_protection %> <br />

    <%= labelled_check_box _("Sanitation"), "software_categories[sanitation]", "1", context.profile.software_info.software_categories.sanitation %> <br />

    <%= labelled_check_box _("Health"), "software_categories[health]", "1", context.profile.software_info.software_categories.health %> <br />

    <%= labelled_check_box _("Security and Public Order"), "software_categories[security_public_order]", "1", context.profile.software_info.software_categories.security_public_order %> <br />

    <%= labelled_check_box _("Work"), "software_categories[work]", "1", context.profile.software_info.software_categories.work %> <br />

    <%= labelled_check_box _("Transportation"), "software_categories[transportation]", "1", context.profile.software_info.software_categories.transportation %> <br />

    <%= labelled_check_box _("Urbanism"), "software_categories[urbanism]", "1", context.profile.software_info.software_categories.urbanism %> <br />
</div>

<h3> <%= _("Operating System") %> </h3>
<div id='operating_system_fields'>
  <% OperatingSystemHelper.operating_system_as_tables(context.profile.software_info.operating_systems).each do |tab| %>
    <%= tab.call %>
  <%end%>
</div>
<div id='table_structure_operating_system' style="display:none"><%= OperatingSystemHelper.add_dynamic_table %></div>
<%= link_to _('New Operating System'), "#", :class=>"button icon-add with-text new-dynamic-table dynamic-operating_system"%>
