<table class="mpog_search_form_table">
  <tr>
    <td> <%= label_tag("name", _("Name"))%> </td>
    <td> <%= text_field_tag(:name) %> </td>
  </tr>

  <tr>
    <td> <%= _("Database") %> </td>
    <td>
      <%= select_tag("database_description", SoftwareHelper.select_options(DatabaseDescription.all)) %>
    </td>
  </tr>

  <tr>
    <td> <%= _("Programming Language") %> </td>
    <td>
      <%= select_tag("programming_language", SoftwareHelper.select_options(ProgrammingLanguage.all)) %>
    </td>
  </tr>

  <tr>
    <td> <%= _("Operating System") %> </td>
    <td>
      <%= select_tag("operating_system", SoftwareHelper.select_options(OperatingSystemName.all)) %>
    </td>
  </tr>

  <tr>
    <td> <%= _("Controlled Vocabulary") %> </td>
    <td>
      <%= select_tag("controlled_vocabulary", ControlledVocabularyHelper.get_categories_as_options) %>
    </td>
  </tr>

  <tr>
    <td> <%= _("License Used") %> </td>
    <td>
      <%= collection_select(:license_info, :id, LicenseInfo.all, :id, :version, :prompt=>_("Any")) %>
    </td>
  </tr>

  <tr>
    <td> <%= _("Adherent to e-PING ?") %> </td>
    <td>
      <label>
        <%= radio_button_tag(:e_ping, "any", true) %>
        <%= _("Any") %>
      </label>

      <label>
        <%= radio_button_tag(:e_ping, "yes") %>
        <%= _("Yes") %>
      </label>

      <label>
        <%= radio_button_tag(:e_ping, "no") %>
        <%= _("No") %>
      </label>
    </td>
  </tr>

  <tr>
    <td> <%= _("Adherent to e-MAG ?") %> </td>
    <td>
      <label>
        <%= radio_button_tag(:e_mag, "any", true) %>
        <%= _("Any") %>
      </label>

      <label>
        <%= radio_button_tag(:e_mag, "yes") %>
        <%= _("Yes") %>
      </label>

      <label>
        <%= radio_button_tag(:e_mag, "no") %>
        <%= _("No") %>
      </label>
    </td>
  </tr>

  <tr>
    <td> <%= _("Adherent to ICP-Brasil ?") %> </td>
    <td>
      <label>
        <%= radio_button_tag(:icp_brasil, "any", true) %>
        <%= _("Any") %>
      </label>

      <label>
        <%= radio_button_tag(:icp_brasil, "yes") %>
        <%= _("Yes") %>
      </label>

      <label>
        <%= radio_button_tag(:icp_brasil, "no") %>
        <%= _("No") %>
      </label>
    </td>
  </tr>

  <tr>
    <td> <%= _("Adherent to e-ARQ ?") %> </td>
    <td>
      <label>
        <%= radio_button_tag(:e_arq, "any", true) %>
        <%= _("Any") %>
      </label>

      <label>
        <%= radio_button_tag(:e_arq, "yes") %>
        <%= _("Yes") %>
      </label>

      <label>
        <%= radio_button_tag(:e_arq, "no") %>
        <%= _("No") %>
      </label>
    </td>
  </tr>

  <tr>
    <td> <%= _("Internacionalizable ?") %> </td>
    <td>
      <label>
        <%= radio_button_tag(:internacionalizable, "any", true) %>
        <%= _("Any") %>
      </label>

      <label>
        <%= radio_button_tag(:internacionalizable, "yes") %>
        <%= _("Yes") %>
      </label>

      <label>
        <%= radio_button_tag(:internacionalizable, "no") %>
        <%= _("No") %>
      </label>
    </td>
  </tr>
</table>