<form action="/search/people" name="user_filter" method="POST" class="search_form">
  <div id="user_filter_content">
    <div class="mpog_search_form_fields">

      <table class="mpog_search_form_table">
        <tr>
          <td> <%= label_tag :name, _("Name") %> </td>
          <td> <%= text_field_tag :name %> </td>
        </tr>
        <tr>
          <td> <%= label_tag :state, _("State") %> </td>
          <td> <%= text_field_tag :state %> </td>
        </tr>
        <tr>
          <td> <%= label_tag :city, _("City") %> </td>
          <td> <%= text_field_tag :city %> </td>
        </tr>
        <tr>
          <td> <%= label_tag :email, _("Email") %> </td>
          <td> <%= text_field_tag :email %> </td>
        </tr>
        <tr>
          <td>  </td>
          <td> <%= submit_button(:search, _('Search')) %> </td>
        </tr>
      </table>
    </div>
  </div>
</form>