<div id='edit-softwares-block'>
  <% benefited_people = @block.owner.software_info.benefited_people + 5 %>
  <% saved_resources = @block.owner.software_info.saved_resources  + 5 %>

  <p> <%= _("Statistics to be displayed ") %>

  <p> <%= _("People Benefited: ") %> <span> <%= number_to_human(benefited_people) %> </span> </p>
  <p> <%= _("Saved Resources: ") %> <span> <%= float_to_currency(saved_resources) %> </span> </p>
</div>
