<div id='edit-download-block'>
  <ul class="link-list-header">
    <li class='download-list-name'><%= _('Name') %></li>
    <li class='download-list-link'><%= _('Link') %></li>
    <li class='download-list-software-description'><%= _('Platforms') %></li>
    <li class='download-list-minimum-requirements'><%= _('Minimum Requirements') %></li>
    <li class='download-list-size'><%= _('Size:') %></li>
  </ul>

  <div id ="droppable-list-downloads">
      <% if @block.downloads.count > 0 %>
        <% for download in @block.downloads %>
          <%= render :partial => 'download_list', :locals => {:download => download} %>
        <% end %>
      <% else %>
        <div id = "new">
          <% new = {'icon' => 'ok'} %>
          <%= render :partial => 'download_list', :locals => {:download => new} %>
        </div>
      <% end %>
  </div>

<div id ="new-template" style="display: none">
  <% new = {'icon' => 'ok'} %>
  <%= render :partial => 'download_list', :locals => {:download => new} %>
</div>

<%= link_to_function _('New link'), 'add_new_link(); return false', :class => 'button icon-add with-text download-new-link-button' %>
</div>
