<div id='edit-download-block'>
  <%= labelled_form_field _('Name:'), text_field_tag('block[name]', @block.name) %>
  <%= labelled_form_field _('Link:'), text_field_tag('block[link]', @block.link) %>
  <%= labelled_form_field _('Software Description:'), text_field_tag('block[software_description]', @block.software_description) %>
  <%= labelled_form_field _('Link to Version News:'), text_field_tag('block[version_news]', @block.version_news) %>
  <%= labelled_form_field _('Link to Minimum Requirements:'), text_field_tag('block[minimum_requirements]', @block.minimum_requirements) %>
</div>
