<li class='download-option download-forms'>
  <ul>
    <li>
      <%= labelled_form_field(_('Name'), text_field_tag('block[downloads][][name]')) %>
    </li>

    <li>
      <%= labelled_form_field(_('Link'), text_field_tag('block[downloads][][link]')) %>
    </li>

    <li>
      <%= labelled_form_field(_('Platforms'), text_field_tag('block[downloads][][software_description]')) %>
    </li>

    <li>
      <%= labelled_form_field(_('Minimum Requirements'), text_field_tag('block[downloads][][minimum_requirements]')) %>
    </li>

    <li>
      <%= labelled_form_field(_('Size'), text_field_tag('block[downloads][][size]')) %>
    </li>

    <li class='delete-download-button'><%= button_without_text(:delete, _('Delete'), "#" , { :onclick => 'softwareDownload.deleteDownload(this); return false', :class=>"delete-link-list-row" }) %></li>
  </ul>
</li>
