<% software = community.software_info %>
<li class="search-software-item">
  <div class="search-software-item-column-left">
    <div class="vcard">
      <% unless community.organization_ratings.empty?%>
        <%= render :partial => 'shared/organization_average_rating_block', :locals => {:community => community}%>
      <% end %>

      <%=render :partial => 'shared/software_publish_date', :locals => {:community => community, :order => @order} %>
    </div>
  </div>

  <div class="search-software-item-column-right">
    <div class="search-software-profile-img">
      <%= link_to_homepage(profile_image(community, :portrait), community.identifier) %>
    </div>

    <div class="search-software-content-block">
        <% link_name = software.acronym.blank? ? community.name : "#{software.acronym} - #{community.name}" %>
        <h4>
          <%= link_to_homepage(link_name, community.identifier) %>
        </h4>

        <div class="search-content-description">
          <% body_stripped = strip_tags(software.finality) %>
          <%= link_to_homepage(excerpt(body_stripped, body_stripped.first(3), 200),  community.identifier)  if body_stripped %>
        </div>

      <div class="search-software-categories">
        <span>
          <%= _("Software Categories") %>:
        </span>

        <% if !community.categories.empty? %>
          <ul id="categories-list">
            <% community.categories.each do |category| %>
              <li>
              <%= link_to _("#{category.name}"), {
                :controller => :search,
                :action => :software_infos,
                :selected_categories_id => [category.id],
                :software_type => params[:software_type]
              } %>
              </li>
            <% end %>
          </ul>
        <% else %>
          <span>
            <%= _("This software doesn't have categories") %>
          </span>
        <% end %>
      </div>
    </div><!-- /.content-block -->
  </div>

  <hr class="clearfix" />
</li>
