<h2>Catálogo de Softwares do SISP</h2>

<div id="software-search-container">
  <%= search_page_title( @titles[@asset], @category ) %>

  <%= render :partial => 'software_search_form', :locals => { :hint => _("Type words about the %s you're looking for") % @asset.to_s.singularize } %>

  <% if @asset == :product %>
    <%= javascript_tag do %>
      jQuery('.search-product-price-details').altBeautify();
    <% end %>
  <% end %>
</div>

<%= render partial:"catalog_result_list" %>

<div id="software-pagination">
  <% if params[:display] != 'map' %>
    <%= pagination_links @searches[@asset][:results] %>
  <% end %>
</div>
