<div class="vcard">

<% if block.owner.software_info.nil? %>
  <%= _("This community needs a software to use this block") %>

<% else %>
  <table id="software-information-block-table">
    <tr>
      <td width="30%" id="col-profile-big-image">
        <div class="profile-big-image">
          <div class="profile-big-image-inner1">
            <span class="profile-big-image-inner2">
              <%= link_to profile_image(block.owner, :big) +"\n", profile.url %>
            </span>
            <div class='admin-link'>
              <%= link_to _('Control panel'), block.owner.admin_url %>
            </div>
          </div>
        </div>
      </td>
      <td width="70%" id="col-software-name">
        <h1>
          <%= _("#{block.owner.software_info.acronym} - ") unless block.owner.software_info.acronym.blank? %>
          <%= _("#{block.owner.name}") %>
        </h1>

        <b>
          <%= block.owner.software_info.finality %>
        </b>
      </td> 
    </tr>
    <tr>
      <td colspan="2">
        <% identifier_name = block.owner.software_info.acronym.blank? ? block.owner.name : block.owner.software_info.acronym %>
        <%= _("For more detailed information see ") %>
        <%= link_to(_("#{block.owner.name} profile"), {:controller => 'profile', :action => "index", :profile => block.owner.identifier}) %>
      </td>
    </tr>
    <% unless block.owner.software_info.repository_link.blank? %>
      <tr>
        <td colspan="2">
          <%= _("Main repository: ") %>
          <%= link_to block.owner.software_info.repository_link, block.owner.software_info.repository_link %>
        </td>
      </tr>
    <% end %>
    <tr>
      <td>
        <i>
          <%= _("Licensed by ") %>
          <%= link_to block.owner.software_info.license_info.version, block.owner.software_info.license_info.link %>
        </i>
      </td>
    </tr>
  </table>
<% end %>
