<%= block_title(block.title) %>
<% profiles.each do |profile| %>
  <%= link_to profile.url do %>
    <div class="software-block">
      <div class="software-block-content">
        <div class="software-block-logo">
          <%= profile_image(profile, :big) %>
        </div>

        <div class="software-block-info">
          <div class="software-block-title">
            <h3> <%=profile.name%> </h3>
          </div>
          <div class="software-block-description"><%= profile.description %></div>
        </div>
      </div>

      <div class="software-block-finality">
        <p>
          <%= profile.software_info.finality %>
        </p>

        <%= _("See More") %>
      </div>
    </div>
  <% end %>
<% end %>
