<div class="environment-softwares-results-header">
  <div style="clear: both"></div>
</div>

<table>
  <colgroup>
    <col width="80%">
    <col width="20%">
  </colgroup>
  <tr>
    <th><%= _('Software') %></th>
    <th><%= _('Actions') %></th>
  </tr>
  <% @collection.each do |s| %>
    <tr title="<%= s.name %>">
      <td><%= link_to_profile s.short_name, s.identifier, :title => s.name %> </td>
      <td class='actions'>
        <div class="members-buttons-cell">
          <% if !s.visible? %>
            <%= button_without_text :'activate-user', _('Activate Software'), {:action => 'activate', :id => s, :q => @q}, :filter => @filter, :confirm => _("Do you want to activate this software?") %>
          <% else %>
            <%= button_without_text :'deactivate-user', _('Deactivate software'), {:action => 'deactivate', :id => s, :q => @q,:from_profile => false}, :filter => @filter, :confirm => _("Do you want to deactivate this software?") %>
          <% end %>
          <%= button_without_text :'delete', _('Remove'), {:action => :destroy_user, :id => s, :q => @q}, :method => :post, :filter => @filter, :confirm => _("Do you want to remove this software?") %>
       </div>
      </td>
    </tr>
  <% end %>
</table>

<%= pagination_links @collection, {:param_name => 'npage', :page_links => true} %>
