<h1><%= _('Manage softwares') %></h1>

<%= form_tag( { :action => 'archive_software' }, :method => 'get', :class => 'users-search' ) do %>

<div id="search-softwares">
  <%= render :partial => 'softwares_search_form' %>
</div>
<div id="softwares-list">
  <%= render :partial => 'software_list' %>
</div>
<% end %>

<%= render :partial => 'index_buttons' %>