<h1><%= _('New Institution') %></h1>

<% if environment.enabled?('admin_must_approve_new_communities') %>
  <div class='explanation'>
    <%= _("Note that the creation of communities in this environment is restricted. Your request to create this new community will be sent to %{environment} administrators and will be approved or rejected according to their methods and criteria.") % { :environment => environment.name }%>
  </div>
<%end %>

<% unless @errors.blank? %>
<div class="errorExplanation" id="errorExplanation">
  <h2> <%= _("Can`t create new Institution: #{@errors.length} errors") %> </h2>
  <ul>
  <% @errors.each do |error| %>
    <li> <%= error %> </li>
  <% end %>
  </ul>
</div>
<% end %>

<div id = 'create_institution_errors' class='errorExplanation hide-field'></div>

<div>
  <%= labelled_form_for :community, :html => { :multipart => true, :id=>"institution_form" } do |f| %>
    <%= required f.text_field(:name) %>
    <%= content_tag :span, _("Institution name already exists"), :id=>"already_exists_text", :class=>"errorExplanation hide-field" %>

    <%= required select_country(_('Country'), f, 'country', {:class => 'type-select', :id => "community_country"}) %>
    <%= required f.text_field(:state) %>
    <%= required f.text_field(:city) %>

    <%= fields_for :institutions do |inst| %>

      <span class='required-field'>
        <div class="formfield type-text">
          <%= inst.label("cnpj" ,_("CNPJ"), :class=>"formlabel") %>
          <%= required inst.text_field(:cnpj, :placeholder=>"99.999.999/9999-99") %>
        </div>
      </span>

      <span class=''>
        <div class='formfield type-radio'>
          <%= label_tag("type_PublicInstitution", _("Public Institution")) %>
          <%= radio_button_tag(:type,"PublicInstitution", true)%>
          <%= label_tag("type_PrivateInstitution", _("Private Institution")) %>
          <%= radio_button_tag(:type,"PrivateInstitution")%>
        </div>
      </span>

      <span class='optional-field'>
        <div class="formfield type-text">
          <%= hidden_field_tag "acronym_translate", _("Acronym") %>
          <%= hidden_field_tag "fantasy_name_translate", _("Fantasy name") %>
          <%= inst.label("acronym" ,_("Acronym"), :class=>"formlabel") %>
          <%= inst.text_field(:acronym) %>
        </div>
      </span>

      <span class='required-field public-institutions-fields'>
        <div class="formfield type-text">
          <%= inst.label("governmental_power_id" ,_("Governmental Power:"), :class=>"formlabel") %>
          <%= inst.select(:governmental_power, [[_("Select a Governmental Power"), 0]]|GovernmentalPower.all.map {|g| [g.name, g.id]}, {:selected=>0})%>
        </div>
      </span>

      <span class='required-field public-institutions-fields'>
        <div class="formfield type-text">
          <%= inst.label("governmental_sphere_id" ,_("Governmental Sphere:"), :class=>"formlabel") %>
          <%= inst.select(:governmental_sphere, [[_("Select a Governmental Sphere"), 0]]|GovernmentalSphere.all.map {|s| [s.name, s.id]}, {:selected=>0})%>
        </div>
      </span>

      <br />

      <div>
        <p><%= recaptcha_tags :ajax => true, :display => {:theme => 'clean'} %> </p>
        <%= link_to(_('Save'), '#', :id=>'save_institution_button', :class=>'button with-text icon-add') %>
      </div>
      <%= hidden_field_tag :institution_error_message, _("Could not send the form data to the server") %>
    <% end %>

  <% end %>
</div>
<%= hidden_field_tag :loading_message, _("Creating institution") %>
